name: Update subscription

on:
  schedule:
    - cron: "0 3 * * *"   # 1 раз в сутки, 03:00 UTC
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Run generator
        run: node subscription-generator.cjs

      - name: Commit result
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add dist/subscription.txt
          git commit -m "daily update" || echo "no changes"
          git push
